html {
  body {
    margin: 0;
    font-family: "Segoe UI", "San Francisco", "Ubuntu", "Fira Sans", "Roboto", "Arial", "Helvetica",
      sans-serif;
    font-size: 13px;
    overflow: hidden;
    background-color: var(--main-bg);
    #root {
      height: 100%;
    }
  }
}

:root {
  --main-text: #0c0c0d;
  --sub-text: #737373;
  --line: #ededf0;
  --button: #d7d7db;
  --highlight: #36b2b2;
  --main-bg: #ffffff;
  --highlight-bg: #90dede;
  --confirm: #ff4f4f;
  --error: #d70022;
  --warn: #ff8f00;
  --success: #058b00;
  --info: #0a84ff;
}
