.detailsContainer {
  overflow-y: auto;
  margin-top: 10px;
  .windowContainer {
    margin-bottom: 10px;
    .windowInfo,
    .tabs .tabContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 3px 0px;
      width: 100%;

      &:hover,
      &:focus,
      &:focus-within {
        background-color: var(--line);
        .buttonsContainer {
          display: flex;
        }
      }

      .favIcon {
        width: 16px;
        height: 16px;
        padding-right: 8px;
        flex-shrink: 0;
      }

      .windowIcon {
        padding-right: 8px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        svg {
          width: 20px;
          height: 20px;
          fill: var(--sub-text);
        }
      }

      .buttonsContainer {
        display: none;
        flex-direction: row;
        button {
          width: 15px;
          height: 15px;
          margin-left: 2px;
          margin-right: 2px;
          svg {
            width: 13px;
            height: 12px;
            fill: var(--sub-text);
          }
        }

        .removeButton {
          svg {
            transform: rotate(45deg);
          }
          &:hover svg,
          &:focus svg {
            fill: var(--confirm);
          }
        }
        .editButton {
          &:hover svg,
          &:focus svg {
            fill: var(--highlight);
          }
        }
      }
    }

    .windowInfo {
      .leftWrapper {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        margin-right: 10px;
        box-sizing: border-box;
        .collapseButton {
          margin-right: 5px;
          transform: rotate(180deg);
          transition: transform 100ms;
          svg {
            width: 16px;
            height: 16px;
            stroke: var(--sub-text);
            stroke-width: 2;
          }
          &:hover svg,
          &:focus svg {
            stroke: var(--highlight);
          }
        }
        .windowTitle {
          color: var(--main-text);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 1.5em;
        }
        .tabsNumber {
          color: var(--sub-text);
          margin-left: 10px;
          flex-shrink: 0;
        }
      }
    }

    .tabs {
      margin-left: 32px;
      .tabContainer {
        .tabButton {
          display: flex;
          align-items: center;
          width: 100%;
          margin-right: 10px;
          box-sizing: border-box;
          overflow: hidden;
          .tabTitle {
            color: var(--main-text);
            line-height: 1.3em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    &.isCollapsed {
      .windowInfo .collapseButton {
        transform: rotate(90deg);
      }
      .tabs {
        display: none;
      }
    }
  }

  button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    text-align: left;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
