.donationMessage {
  white-space: pre-line;
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      margin: 5px 0px;
      &:hover,
      &:focus {
        outline: var(--button) 1px solid;
      }
    }
  }
}
