.fade-enter {
  opacity: 0;
  transition: opacity 150ms;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}
.fade-enter-done {
  //opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 150ms;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}
.fade-exit-done {
  opacity: 0;
  visibility: hidden;
}
