#header {
  padding: 10px;
  background-color: var(--line);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  -moz-user-select: none;
  -webkit-user-select: none;

  .title {
    font-size: 17px;
    font-weight: 400;
    color: var(--sub-text);
    cursor: default;
    flex-shrink: 0;
  }

  .rightButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 20px;

    button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      margin-left: 10px;
    }

    .separation {
      height: 20px;
      border-right: 1px solid var(--button);
      margin-left: 10px;
    }

    .undoButton,
    .redoButton {
      position: relative;
      .count {
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 10px;
        color: var(--sub-text);
      }
      &:hover svg {
        fill: var(--highlight);
      }
      &.disable {
        cursor: unset;
        svg {
          opacity: 0.2;
          fill: var(--sub-text);
        }
      }
    }

    .heartButton {
      &:hover svg,
      &:focus svg {
        fill: var(--confirm);
      }
    }

    .cloudSyncButton {
      position: relative;
      svg {
        width: 24px;
      }
      &:hover svg,
      &:focus svg {
        fill: var(--highlight);
      }
      .syncBadge {
        position: absolute;
        background-color: var(--warn);
        height: 15px;
        width: 15px;
        top: -5px;
        right: -5px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px 1px #00000050;
      }
      .syncBadge.syncError {
        background-color: var(--error);
      }
    }

    .syncStatus {
      opacity: 0;
      color: var(--main-text);
      &.pending {
        transition: opacity 200ms;
        opacity: 1;
      }
      &.upload,
      &.download,
      &.delete {
        opacity: 1;
      }
      &.complete {
        transition: opacity 200ms 3s;
        opacity: 0;
      }
      &.signInRequired {
        transition: opacity 200ms;
        opacity: 1;
      }
    }

    .openInTabButton {
      svg {
        fill: none;
        stroke: var(--sub-text);
        stroke-width: 3;
      }
      &:hover svg,
      &:focus svg {
        stroke: var(--highlight);
      }
    }

    .settingsButton {
      &:hover svg,
      &:focus svg {
        fill: var(--highlight);
        transform: rotate(90deg);
      }
    }

    svg {
      height: 20px;
      width: 20px;
      fill: var(--sub-text);
      transition:
        fill 100ms,
        transform 300ms ease;
    }
  }
}

#popupPage.isInTab {
  .openInTabButton {
    display: none;
  }
}
