#header {
  padding: 10px;
  background-color: var(--line);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  -moz-user-select: none;
  -webkit-user-select: none;

  .title {
    font-size: 17px;
    font-weight: 400;
    color: #666;
    cursor: default;
    flex-shrink: 0;
  }

  .rightButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 20px;

    button {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
    }

    .heartButton {
      display: flex;
      align-items: center;
      margin-right: 10px;
      &:hover svg {
        fill: var(--confirm);
      }
    }

    .settingsButton {
      display: flex;
      align-items: center;
      &:hover svg {
        fill: var(--highlight);
        transform: rotate(90deg);
      }
      &.showUpdated::after {
        position: relative;
        content: "●";
        width: 0px;
        font-size: 30px;
        left: -10px;
        top: -12px;
        color: var(--confirm);
        -webkit-text-stroke: 2px #fff;
        animation: 1500ms ease infinite blink;

        @keyframes blink {
          0% {
            opacity: 0;
          }
          80% {
            opacity: 1;
          }
          85% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    svg {
      height: 20px;
      width: 20px;
      fill: var(--sub-text);
      transition: fill 100ms, transform 300ms ease;
    }
  }
}
