#menu {
  position: absolute;
  z-index: 1;
  background-color: var(--main-bg);
  color: var(--main-text);
  padding: 5px 0px;
  border: solid 1px var(--line);
  border-radius: 2px;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: 250px;
  min-width: 150px;
  width: max-content;

  transition:
    opacity,
    visibility 200ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      font-size: 13px;
      button {
        color: var(--main-text);
        cursor: pointer;
        width: 100%;
        padding: 2px 10px;
        border: none;
        background: inherit;
        text-align: left;
        transition: background-color 100ms;
        &:hover {
          background-color: var(--line);
        }
        &:focus {
          outline: var(--button) 1px solid;
        }
      }
      &.section {
        font-size: 12px;
        color: var(--sub-text);
        padding: 2px 10px;
        display: flex;
        align-items: center;
        svg {
          width: 12px;
          height: 12px;
          padding-right: 3px;
          fill: var(--sub-text);
        }
      }
    }
  }
  hr {
    background-color: var(--line);
    height: 1px;
    border: none;
    margin: 5px 0px;
  }
  .closeMenuButton {
    border: none;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;

    svg {
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
      fill: var(--sub-text);
    }
    &:hover svg,
    &:focus svg {
      fill: var(--confirm);
    }
  }
}
