#modalBackground {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 200ms;

  &.isClose {
    visibility: hidden;
    opacity: 0;
    #modal {
      transform: translateY(-20px);
    }
  }
  &.isOpen {
    visibility: visible;
    opacity: 1;
    #modal {
      transform: translateY(0);
    }
  }

  #modal {
    position: absolute;
    background-color: var(--main-bg);
    color: var(--main-text);
    border: solid 1px var(--line);
    border-radius: 2px;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    padding: 10px;
    transition: 200ms;
    -moz-user-select: none;
    -webkit-user-select: none;

    hr {
      background-color: var(--line);
      height: 1px;
      border: none;
      margin: 5px 0px;
    }

    .modalHeader {
      display: flex;
      justify-content: space-between;

      .modalTitle {
        font-size: 18px;
      }

      .closeModalButton {
        border: none;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        margin: 5px;
        cursor: pointer;

        svg {
          width: 15px;
          height: 15px;
          transform: rotate(45deg);
          fill: var(--sub-text);
        }
        &:hover svg,
        &:focus svg {
          fill: var(--highlight);
        }
      }
    }
  }
}
