.nameContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 1.5em;
  width: 100%;

  .sessionName {
    display: block;
    color: var(--main-text);
    font-weight: bold;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
  }

  &.isTruncate .sessionName {
    white-space: nowrap;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    text-align: left;
    max-width: 100%;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
