#notificationArea {
  position: relative;
  width: 100%;
  .notification {
    display: flex;
    position: absolute;
    width: 300px;
    left: 0;
    z-index: 1;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--confirm);
    color: #fff;
    padding: 10px 15px;
    margin-top: 2px;
    border-radius: 0 5px 5px 0;
    max-height: 90px;
    overflow: hidden;
    transition-property: transform, opacity, visibility;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transform-origin: top;
    opacity: 0;
    visibility: hidden;

    &.enter {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-300px);
      transition-delay: 100ms;
    }
    &.enter-active,
    &.exit {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }
    &.exit-active,
    &.enter-done {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-300px);
    }

    &[data-type="error"] {
      background-color: var(--error);
    }
    &[data-type="warn"] {
      background-color: var(--warn);
    }
    &[data-type="success"] {
      background-color: var(--success);
    }
    &[data-type="info"] {
      background-color: var(--info);
    }

    .message {
      flex-shrink: 1;
      white-space: pre-line;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      button {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        text-align: left;
        color: #fff;
        flex-shrink: 0;
        &:hover {
          text-decoration: underline;
        }
        svg {
          width: 12px;
          height: 12px;
          fill: #fff;
          transform: rotate(45deg);
        }
      }
      .closeButton {
        margin-left: 10px;
      }
    }
  }
}
