#notification {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--confirm);
  color: #fff;
  padding: 10px;
  max-height: 60px;
  transition-property: opacity, visibility, max-height, padding;
  transition-duration: 300ms;

  &.isClose {
    opacity: 0;
    visibility: hidden;
    max-height: 0px;
    padding: 0px 10px;
  }

  .message {
    flex-shrink: 1;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    button {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      text-align: left;
      color: #fff;
      flex-shrink: 0;
      &:hover {
        text-decoration: underline;
      }
      svg {
        width: 12px;
        height: 12px;
        fill: var(--main-bg);
        transform: rotate(45deg);
      }
    }
    .closeButton {
      margin-left: 10px;
    }
  }
}
