#optionsArea {
  .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    .filter {
      flex-grow: 1;
      margin-right: 5px;
    }

    .selectWrap {
      position: relative;
      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: var(--main-bg);
        color: var(--main-text);
        text-overflow: ellipsis;
        border: var(--button) solid 1px;
        border-radius: 2px;
        padding: 3px 20px 3px 5px;
        width: 100%;
        height: 30px;
        outline: none;
        transition: border-color 100ms;

        &:hover,
        &:focus {
          border-color: var(--highlight);
        }
      }

      &::before {
        pointer-events: none;
        content: "";
        z-index: 1;
        position: absolute;
        top: 40%;
        right: 7px;
        width: 5px;
        height: 5px;
        transform: rotate(45deg);
        border-bottom: 2px solid var(--sub-text);
        border-right: 2px solid var(--sub-text);
      }
      &:hover::before,
      &:focus::before {
        border-bottom: 2px solid var(--highlight);
        border-right: 2px solid var(--highlight);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }
    .searchButton {
      width: 25px;
      margin-left: 3px;
      z-index: 1;
      svg {
        height: 14px;
        fill: var(--sub-text);
      }
      &:hover svg,
      &:focus svg {
        fill: var(--highlight);
      }
    }
  }
}
