html {
  overflow-x: auto;
  overflow-y: hidden;
}

#popupPage {
  display: flex;
  flex-direction: column;
  height: 100%;

  #contents {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    .column {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 100%;
    }
    .sidebar {
      width: 300px;
      height: auto;
      margin: 10px;
      margin-right: 5px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  ::-moz-selection {
    background-color: var(--line);
  }
  ::selection {
    background-color: var(--line);
  }
}
