#saveArea {
  .inputForm {
    height: 30px;
    input {
      padding-left: 3px;
      padding-right: 3px;
    }
    .saveButton {
      width: auto;
      padding: 5px 1px 5px 10px;
      border-radius: 0px;
      margin-right: -1px;
      border-right: var(--main-bg) solid 1px;
      &:hover,
      &:focus {
        border: var(--highlight) solid 1px;
        & + .saveOptionButton {
          border: var(--highlight) solid 1px;
          border-left: var(--main-bg) solid 0px;
        }
      }
    }
    .saveOptionButton {
      padding: 0px;
      width: 16px;
      border-left: var(--main-bg) solid 1px;
      &:hover,
      &:focus {
        border: var(--highlight) solid 1px;
      }
      svg {
        width: 10px;
        transform: rotate(270deg);
        fill: var(--sub-text);
      }
    }
  }
}
