#searchBar {
  display: flex;
  padding-bottom: 5px;
  width: calc(100% - 1px);
  .inputForm {
    height: 30px;
    input {
      border-radius: 2px;
      padding-left: 25px;
      padding-right: 25px;
      z-index: 0;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .searchButton,
  .clearButton {
    width: 25px;
    z-index: 1;
    svg {
      height: 14px;
      fill: var(--sub-text);
    }
    &:hover svg {
      fill: var(--highlight);
    }
  }
  .searchButton {
    margin-right: -25px;
  }
  .clearButton {
    margin-left: -25px;
    svg {
      transform: rotate(45deg);
    }
  }
}
