#searchBar {
  display: flex;
  padding-top: 5px;
  width: calc(100% - 1px);
  .inputForm {
    height: 30px;
    input {
      border-radius: 2px;
      padding-left: 25px;
      padding-right: 25px;
      z-index: 0;
    }
  }

  button,
  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .searchIcon,
  .clearButton {
    width: 25px;
    z-index: 1;
    svg {
      height: 14px;
      fill: var(--sub-text);
    }
  }
  .searchIcon {
    margin-right: -25px;
    cursor: default;
  }
  .clearButton {
    margin-left: -25px;
    svg {
      transform: rotate(45deg);
    }
    &:hover svg,
    &:focus svg {
      fill: var(--highlight);
    }
  }
}
