.sessionItem {
  position: relative;
  background-color: var(--main-bg);

  .selectButton {
    border: none;
    border-bottom: 1px solid var(--line);
    padding: 8px 5px;
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    .name {
      display: block;
      color: var(--main-text);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;

      &.isTruncate {
        white-space: nowrap;
      }
    }

    .lineContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .windowsInfo,
      .date {
        font-size: 11px;
        color: var(--sub-text);
        overflow: hidden;
        word-break: break-all;
      }
    }

    .tagsContainer {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden;

      margin: 0;
      padding: 0;
      list-style-type: none;
      .tag {
        .tagIcon,
        .autoSaveIcon,
        .startupIcon,
        .trackingIcon {
          width: 11px;
          margin-right: 3px;
          fill: var(--sub-text);
        }
        .autoSaveIcon {
          width: 16px;
        }
        .startupIcon {
          width: 14px;
        }
        .trackingIcon {
          width: 14px;
        }
        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 30px;
        font-size: 11px;
        height: 14px;
        color: var(--sub-text);
        background-color: var(--line);
        border-radius: 2px;
        padding: 3px 5px;
        margin-bottom: 2px;
        margin-right: 2px;
        overflow: hidden;
      }
    }
  }

  &.isSelected {
    background-color: var(--highlight-bg);
  }

  &:not(.isSelected):hover {
    background-color: var(--line);
    .tag {
      background-color: var(--line2);
    }
  }

  &.isTracking .tagsContainer .tag .trackingIcon {
    fill: var(--error);
  }

  .buttonsContainer {
    position: absolute;
    opacity: 0;
    transform: translateX(10px);
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    transition: all 200ms;

    button {
      display: flex;
      align-items: center;
      padding: 13px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: all 200ms;

      svg {
        width: 13px;
        fill: var(--highlight);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &.remove {
        margin-left: 5px;

        &:hover svg {
          fill: var(--confirm);
        }
      }
    }
  }

  &:hover .buttonsContainer {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
  }
}
