#sessionsArea {
  padding: 0px 10px 0px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;

  .noSession {
    p {
      color: var(--sub-text);
      margin: 0;
    }
  }
}
