#sessionDetailArea {
  .tagsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    min-height: 22px;

    .tag {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 30px;
      font-size: 11px;
      height: 14px;
      color: var(--sub-text);
      background-color: var(--line);
      border-radius: 2px;
      padding: 3px 5px;
      margin-bottom: 2px;
      margin-right: 5px;
      overflow: hidden;

      .tagIcon,
      .autoSaveIcon,
      .startupIcon,
      .trackingIcon {
        width: 11px;
        margin-right: 3px;
        fill: var(--sub-text);
        flex-shrink: 0;
      }
      .autoSaveIcon {
        width: 16px;
      }
      .startupIcon {
        width: 14px;
      }
      .trackingIcon {
        width: 14px;
      }

      &.isTracking .trackingIcon {
        fill: var(--error);
      }

      span {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        transition: all 100ms ease 0ms;
      }

      .removeTagButton {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: transparent;
        border: var(--line) 1px solid;
        border-radius: 2px;
        height: 15px;
        width: 15px;
        padding: 0;
        margin-left: 3px;
        flex-shrink: 0;
        cursor: pointer;
        transition: all 100ms ease 0ms;
        svg {
          height: 9px;
          width: 9px;
          transform: rotate(45deg);
          fill: var(--sub-text);
          transition: all 100ms ease 0ms;
        }

        &:hover,
        &:focus {
          border: var(--confirm) 1px solid;
          transition: all 100ms ease 0ms;
          svg {
            fill: var(--confirm);
            transition: all 100ms ease 0ms;
          }
        }
      }
    }

    .addTagButton {
      svg {
        width: 11px;
        margin-right: 3px;
        fill: var(--highlight);
      }
      color: var(--highlight);
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      word-break: break-all;
      transition: all 100ms;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
