:root {
    --main-text: #0c0c0d;
    --sub-text: #737373;
    --line: #ededf0;
    --button: #d7d7db;
    --highlight: #36b2b2;
    --main-bg: #ffffff;
}

body {
    font-family: 'Segoe UI', 'San Francisco', 'Ubuntu', 'Fira Sans', 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--main-text);
    background-color: var(--main-bg);
    line-height: 1.5;
    display: flex;
    flex-direction: row;

}

p {
    margin: 0px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
}

hr {
    width: 100%;
    background-color: var(--line);
    height: 1px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*----sidebar----*/

#sidebar {
    font-size: 17px;
    font-weight: 400;
    text-align: right;
    -moz-user-select: none;
}

.titleContainer {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 64px;
    width: 64px;
}

.logotitle {
    text-align: left;
    font-size: 13px;
    font-weight: 300;
    color: var(--highlight);
    margin: auto;
}

.sidebarItem:hover {
    text-decoration-line: underline;
}

#sidebar > ul {
    padding-left: 40px;
}

#sidebar > ul > li {
    padding: 10px 15px;
}

#sidebar .selected {
    color: var(--highlight);
}


/*----contents----*/

#contents {
    padding-top: 20px;
    padding-left: 20px;
    width: 650px;
}

.contentTitle {
    font-size: 33px;
    font-weight: 200;
    color: var(--sub-text);
    line-height: 2;
}

.caption {
    font-size: 13px;
    font-weight: 400;
    color: var(--sub-text);
}

#contents ul {
    margin: 0px;
}

#contents .childElement {
    padding-left: 20px;
    margin-bottom: 30px;
    border-left: solid 10px var(--line);
}

.optionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.buttonsContainer {
    justify-content: flex-start;
}

.optionText {
    flex: 1;
}

.optionForm {
    flex-basis: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#importClear {
    position: relative;
    left: 10px;
}

.favicon {
    width: 18px;
    height: 18px;
    padding: 1px;
    display: block;
    float: left;
}


/*----forms----*/

input {
    font-family: inherit;
    font-size: 14px;
}

input[type="number"],
input[type="text"] {
    -moz-appearance: textfield;
    width: 50px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid var(--button);
    border-radius: 2px;
}

input[type="number"]:hover,
input[type="text"]:hover {
    border-color: var(--highlight);
}

input[type="text"] {
    width: 200px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    text-align: center;
    padding: 5px;
    height: 30px;
    font-size: 13px;
    color: var(--main-text);
    border: 1px solid var(--button);
    border-radius: 2px;
    background-color: #fbfbfb;
    cursor: pointer;

    white-space: nowrap;
}

.includeSpan {
    padding: 0px;
    height: 28px;
}

.button:hover {
    background: #f5f5f5;
    border-color: var(--highlight);
}

::-moz-selection {
    background: var(--line);
}

a:link {
    color: var(--sub-text);
    text-decoration-line: none;
}


a:visited {
    color: var(--sub-text);
}

.pageLink {
    color: var(--highlight);
    display: inline-block;
    margin-right: 10px;
}

.pageLink:hover {
    color: var(--highlight);
    text-decoration-line: underline;
}

input[type="checkbox"] {
    display: none;
}

.checkbox {
    padding-left: 20px;
    position: relative;
    /*margin-right: 20px;*/
    cursor: pointer;
}

.checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -2px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--button);
    border-radius: 2px;
}

.checkbox:hover::before {
    border-color: var(--highlight);
}

input[type="checkbox"]:checked + .checkbox {
    color: var(--highlight);
}

input[type="checkbox"]:checked + .checkbox::after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 4px;
    width: 6px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #009a9a;
    border-right: 3px solid #009a9a;
}
