body {
    font-size: 13px;
    background-color: #f9f9fa;
}

input {
    font-family: inherit;
}

#autoSaveInterval,
#autoSaveLimit,
#autoSaveWhenCloseLimit {
    width: 50px;
}

#dateFormat {
    width: 220px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#save {
    width: auto;
    height: 30px;
    margin-left: auto;
    color: #111;
    border: 1px solid #bbb;
    border-radius: 2px;
    background-color: #fbfbfb;
}

#save:hover {
    background: #f5f5f5;
}

label {
    padding: 3px 0px;
}

hr {

    width: 100%;
    background-color: #d7d7db;
    height: 1px;
    border: none;
}

::-moz-selection {
    background: #ebebeb;
}
